.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx

# Build Directories
Gamepad_Gaussians/build-tmp
Gmpd_Gaussians_vectorScale/build-tmp
